*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.863);
    transition: all 0.3s ease;
    z-index: 9999;
}

.hidden{
    display: none;
    opacity: 0;
}


.user{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;

    border: 1px solid black;
    padding: 30px 20px;
    width: 400px;
    max-width: 100%;
}

.user h2{
    margin-bottom: 10px;
}

.user button{
    color: white;
    border: 0px solid white;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

/*dasodpgskdmg*/
 
 header{
     width: 100%;
     margin: 0;
     padding: 20px 0;
     background: linear-gradient(to right,rgb(39, 116, 93), rgb(34, 87, 71));
     z-index: 1000;
 }

 header .profile{
    display: inline-block;
    margin-right: -4px;
    width: 50%;
 }

 header .menu{
    display: inline-block;
    margin-right: -4px;
    width: 50%;
    text-align: right;
    visibility: hidden;
 }
 
 header svg{
     color: white;
     width: 40px;
     height: 40px;
     cursor: pointer;
 }
 
 header a{
     color: rgb(255, 255, 255);
     top: 60px; 
     font-weight: bold;
     text-decoration: none;
     font-size:30px;
     cursor: pointer;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .container-fluid{
    text-align: center;
}
 
 .box{
    display: inline-block;
    width: 22%;
    min-width: 300px;
    margin-right: 1%;
    vertical-align: middle;
     background-color: rgb(39, 116, 93);
     border-radius: 5px;
     aspect-ratio: 300/150;
     margin-top: 40px;
     color: white;
     font-size: 24px;
     cursor: pointer;
     position: relative;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .box .text-box{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

 .box:hover{
     transform: scale(1.05);
     transition: 2ms;
     background-color: rgba(39, 116, 93, 0.881);
     transition-duration: 2s;
 }
 
 .box svg{
     width: 32px;
     height: 32px;
     vertical-align: middle;
 }

 .box span{
    vertical-align: middle;
 }
 main h2{
    color: rgb(16, 132, 97);
     font-size: 34px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 