*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: url(../images/fundo\ -\ pag\ de\ login.jpg);
    background-position: center;
}

main{
    max-width: 400px;
    max-height: 600px;
    width: 400px;
    border-radius: 2px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 15%;
    background: rgba(255, 255, 255, 0.158); /* Fundo branco com transparência */
        backdrop-filter: blur(5px);          /* Efeito de desfoque */
        -webkit-backdrop-filter: blur(5px); /* Suporte para navegadores baseados no WebKit */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input{
    margin: 15px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 4px solid white;
    margin-top: 70px;
    background-color: transparent;
    font-size: 20px;
}

input::placeholder{
    color: black;
    font-size:18px;
}

button{
    padding: 10px 30px;
    border-radius: 5px;
    border: 4px solid transparent;
    margin-top: 50%;
    margin-left: 90px;
   cursor: pointer;
}

.checkbox{
    margin-top: 0px;
    text-decoration: none;
   margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 40px 20px;
}

a{
    color: white;
}